---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Note  from '~/components/widgets/Note.astro';

const metadata = {
  title: 'Contacto',
};
---

<Layout metadata={metadata}>


  <HeroText tagline="Contacto" title="¡Agendá una reunión con Santiago!" />

  <div class="flex justify-center">
    <iframe
      src="https://calendar.google.com/calendar/appointments/schedules/AcZssZ0tOV-aBMIR2OiJkmz2TsyY8I5qKMo77MTnJ1MZzy6_F-SzT4gxPpUSItH5RGBBnyB0nSvQRGmZ?gv=true"
      style="border: 0"
      width="1400"
      height="900"
      frameborder="0"
    ></iframe>
  </div>
<!-- end Google Calendar Appointment Scheduling -->

  <Note
    title="¿No encontraste el horario que buscabas?"
    subtitle="No te preocupes, podés enviarme un mensaje directo y coordinamos una reunión."
    actions={[
      {
        variant: 'primary',
        text: 'Enviar mensaje',
        href: '/contact',
        target: '_blank',
        icon: 'tabler:phone',
      },
    ]}
  

</Layout>
