---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Pampa&Código sistemas de inventario, control de stock, gestión de turnos avanzados o simples, a medida.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
      variant: 'primary',
      text: 'Contactanos',
      href: '/contact',
      target: '_blank',
      icon: 'tabler:phone',
      },
      { text: 'Ver más', href: '#features' },
        ]}

        image={{ src: '~/assets/images/hero-image.png', alt: 'Pampa&Código evolución de inventario.' }}
      >
        <Fragment slot="title">
          <span class="text-accent dark:text-white highlight"> VICTORIA </span> RAPANUI<br />
          HOY <span class="text-accent dark:text-white highlight"> 22 HORAS </span>NEW
        </Fragment>

        <Fragment slot="subtitle">
      <span class="hidden sm:inline"></span> en <span class="font-semibold">Pampa</span> investigamos, diseñamos e implementamos sistemas de inventario para tu
      PyMe. Que las soluciones se <span class="hidden sm:inline">adapten a tu forma de trabajar y no vos a ellas.</span>
        </Fragment>
      </Hero>

      <!-- Note Widget ******************* -->


  <Features2
    title="Queremos que veas resultados."
    subtitle="Nos interesa pensar, ser autoreflexivos y escuchar a nuestros clientes. No te venderemos soluciones que quizás no necesites, siempre buscamos la forma más simple de resolver o mejorar tus sistemas."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Nuestros humildes números al día de hoy."
    subtitle="Crecemos juntos"
    stats={[
      { title: 'Sistemas optimizados.', amount: '4' },
      { title: 'Sistemas creados.', amount: '6' },
      { title: 'Integraciones POS & APIs', amount: '8' },
    ]}
  />




  <!-- Features2 Widget ************** -->

  <Features2
    title="¿Qué servicios realizamos?"
    subtitle="Diseñamos sistemas de gestión de inventario y almacén completos, investigando tu negocio previamente, mejoramos sistemas actuales y realizamos integraciones."
    items={[
      {
        title: 'Investigación y relevamiento',
        description:
          'Investigación en sitio, relevamiento técnico e ideación.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Diseño y desarrollo',
        description:
          'Desarrollamos e implementamos todo el sistema, de A a Z.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Soporte técnico',
        description:
          'Proveemos soporte técnico 24/7 para problemas de software, 8/5 para consultas de usabilidad.',
        icon: 'flat-color-icons:voice-presentation',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>


 
  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas frecuentes."
    items={[
      {
        title: '¿Qué  hacen?',
        description:
          'Así lo dijo nuestro primer cliente: Le respondimos: Tratamos que dejes de quejarte porque modifican tu Excel de inventario cada 2 semanas. Terminamos desarrollando un sistema completamente nuevo, que se adapta a su forma de trabajar.',
      },
      {
        title: '¿Por qué implementar un sistema de gestión de inventario?',
        description:
          'La respuesta es: Implementarlo si realmente te mejora el proceso. La mayoría de negocios no necesitan una solución compleja, muchas veces Excel/Access funcionan perfectamente. Pero si tu negocio crece, necesitas algo más robusto.',
      },
      {
        title: '¿Cómo es el proceso de trabajo?',
        description:
          'Primero, necesitamos saber cómo trabajas, qué necesitas y qué esperas de un sistema de inventario. Luego, investigamos tu negocio, diseñamos un sistema y lo implementamos. Finalmente, te capacitamos y damos soporte.',
      },
      {
        title: '¿Realizan más servicios?',
        description:
          'Sí, tenemos experiencia en software de gestión de rutas, nos estamos capacitando en sistemas de gestión de calidad para la industria médica y alimenticia. También realizamos integraciones con sistemas de facturación y POS.',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Features3 Widget ************** -->
  <BlogLatestPosts
    id="blog"
    title="Stay informed with AstroWind's blog"
    information={`Explore our collection of articles, guides, and tutorials on web development, design trends, and using AstroWind effectively for your projects.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>


  <!-- CallToAction Widget *********** -->

 



</Layout>
